body {
    background-color: #223c52;
}

#sticky {
    background-color: rgb(50, 52, 55);
    position: sticky;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 55px;
    margin-right: 24px;
    font-size: 25px;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
    color: rgb(209, 208, 197);
}

h1 {
    font-weight: lighter;
    font-size: 74px;
}

.para {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 168px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 49px;
}

.button {
    display: flex;
    justify-content: center;
    gap: 33px;
}
button{
    font-size: 20px;
    color: #223c52;
    background-color: #8b8b46;
    padding: 11px 29px;
    border-radius: 42px;
}
h2{
    font-size: 53px;
    left: -164px;
    position: relative;
    top: -32px;
    color: aliceblue;
}
p{
    color: bisque;
}
img{
    height: 68px;
    border-radius: 43px;
}